html {
  box-sizing: border-box;
  background-image: url(assets/htmlbachground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding-left: 3em;
  padding-right: 3em;
}

header {
  background-image: linear-gradient(green, yellow, red);
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

header .headerh1 {
  color: white;
  font-size: 50pt;
  font-family: monospace;
  text-align: center;
  padding-top: 20px;
  height: 100px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header li {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  font-size: 25px;
  float: left;
  border-radius: 15px 50px;
}

nav li:hover {
  animation-delay: 2s;
  height: 100px;
}

nav {
  display: block;
}

nav li a {
  text-align: center;
  height: 100px;
  width: 200px;
  padding-top: 25px;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

header nav li a:hover {
  background-color: #200F21;
  float: left;
}

header nav li a:active {
  background-color: red;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  width: 50%;
  font-weight: bold;
  background-color: #010101;
  height: 100px;
  font-size: 30pt;
  padding-top: 0px;
  transition: 2s;
  animation-delay: 3s;
}
h2:hover {
  width: 100%;
  height: 150px;
}
.first img {
  width: 700px;
  height: 320px;
  border-radius: 50%;
  border: 10px solid black;
}

.body h2 {
  background: #010101;
  font-style: italic;
  color: #C70039;
  animation-delay: 3s;
  cursor: move;
  height: 100px;
  border-radius: 50px;
  transition: 2s;
  width: 100%;
}

.body h2:hover {
  width: 100%;
  height: 200px;
}

h3 {
  font-size: 25pt;
  color: blue;
  background-color: lightgray;
  width: 600px;
  height: 50px;
  padding-left: 1em;
  padding-top: 5px;
  border-radius: 25px;
}

p {
  background: #E3C4A8;
  font-size: 22pt;
  color: blue;
  padding-left: 1em;
  padding-right: 1em;
}

.contacth3 {
  background: white;
  color: black;
  font-size: 20pt;
  width: 200px;
  margin: auto;
  position: relative;
  top: 60px;
}

.firstcontacts {
  color: white;
}

.contact {
  background-color: black;
  height: 150px;
  font-size: 14pt;
  list-style: none;
  padding-top: 1em;
  width: 290px;
  padding: 10px;
  margin: auto;
  position: relative;
  top: 200px;
}

.secondcontactsdiv ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.first ul {
  display: flex;
  justify-content: space-between;
  font-size: 25pt;
  color: #05004E;
  list-style: none;
  text-align: center;
}

.firstfavor img {
  width: 30%;
}

.firstfavor p {
  width: 70%;
}

.firstfavor {
  background: #E3C4A8;
  display: flex;
  justify-content: space-between;
}

.secondfavor img {
  width: 30%;
}

.secondfavor p {
  width: 70%;
}

.secondfavor {
  background: #E3C4A8;
  display: flex;
  justify-content: space-between;
}

.knowladge li {
  background: #BD83CE;
  border-radius: 20px 50px;
}

.contact-section {
  font-size: 25pt;
  color: blue;
  background-color: lightpink;
  width: 600px;
  height: 50px;
  padding-left: 1em;
  padding-top: 5px;
  border-radius: 25px;
}

@media only screen and (max-width: 900px) {
  body {
    background: lightgray;
  }

  header .headerh1 {
    font-size: 25pt;
  }

  nav li {
    font-size: 14pt;
    width: 150px;
    height: 75px;
  }

  .body h2 {
    font-size: 25pt;
    padding-left: 20px;
  }

  .secondcontactsdiv ul {
    flex-direction: column;
  }

  .contact {
    align-items: flex-start;
    top: 70px;
    left: 150px;
    font-size: 8pt;
    width: 180px;
    height: 60px;
  }

  h3, .first img {
    width: 90%;
  }

  h3 {
    font-size: 15pt;
  }

  .knowladge li {
    font-size: 12pt;
  }

  .firstfavor {
    flex-direction: column;
  }

  .firstfavor p {
    font-size: 17pt;
    height: 400px;
    width: 300px;
  }

  .firstfavor img {
    height: 200px;
    width: 300px;
  }

  h2 {
    font-size: 20pt;
  }

  .secondfavor {
    flex-direction: column;
  }

  .secondfavor p {
    font-size: 18pt;
    height: 400px;
    width: 300px;
  }

  .secondfavor img {
    height: 200px;
    width: 300px;
  }

  .contact-section {
    width: 90%;
  }
}
